body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: url('cat.jpg')
}

.app-container {
  padding: 20px;
  position: absolute;
  left: 116px;
  background: white;
 bottom: 35%;
 border-radius: 23%;
 background-color:  rgb(205 201 201 / 82%);
   
}
  
.buttons-container {
  margin-bottom: 20px;
}

button {
  margin: 10px;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #c6a5c6fc;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}
button:hover {
  background-color: #121213;
}

.table-container {
  width: 135%;
  margin: auto;
  border-collapse: collapse;
  background: rgb(146, 108, 108);
  position: absolute;
  left: 130%;
  top: 68%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(235 230 235);
 
}

th, td {
  border: 1px solid black;
  padding: 15px;
}

.cat-image {
  width: 34%;
  border-radius: 10px;
  position: absolute;
  top: -265%;
}

.card-container {
  max-width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);


}

.card-container{
  position: absolute;
  right: -630px;
  top: -180px;
}


.cat-image-large {
  width: 100%;
  border-radius: 10px;
}

.buttons-container button{
  padding: 10px 15px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;

}

.active {
  background-color: #28a745 !important;
}


/* Mobile Devices (up to 600px) */
@media only screen and (max-width: 600px) {
  .app-container {
    padding: 10px;
  }

  button {
    width: 100%;
    font-size: 14px;
    padding: 8px;
  }

  table {
    width: 100%;
    font-size: 12px;
  }

  .cat-image {
    width: 60px;
    height: 60px;
  }

  .card-container {
    width: 90%;
    padding: 15px;
  }
}

